In [185]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
from openpyxl import load_workbook

In [186]:
path = '/Users/jakob/PycharmProjects/H2_pathways_repo/data/raw/H2_supply_route_assessment.xlsx'

In [187]:
GHG = pd.read_excel(path, sheet_name='GHG Footprint', decimal=',', index_col=0)
GHG

,Value,Ref,1990,1991,1992,1993,1994,1995,1996,1997,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
ID,,,,,,,,,,,,,,,,,,,,,
GHG intensity of electricity generation [g CO2eq/kWh] - Germany,NaN,EEA 2022,652.0,656.0,628.0,631.0,626.0,610.0,580.0,566.0,...,62.592000,46.94400,31.296000,15.648000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00
GHG intensity of electricity generation [g CO2eq/kWh] - Norway,NaN,Our world in Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.783673,6.91882,6.053968,5.189115,4.324263,3.45941,2.594558,1.729705,0.864853,0.00
Grey hydrogen emissions [g CO2/MJ H2] - Norway,96.77,Own calculation @ GWP20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grey hydrogen emissions [kg CO2/kg H2] - Norway,11.6124,Own calculation @ GWP20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blue hydrogen emissions [g CO2/MJ H2] - Norway,NaN,Own calculation @ GWP20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.499000,24.61800,23.737000,22.856000,21.975000,21.09400,20.213000,19.332000,18.451000,17.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Hydrogen leakage,Predicted Emission Confidence level,Ref,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Electrolytic H2 production [% of produced H2],0.092,DOE 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Electrolytic H2 production [% of produced H2] w/ recombination,0.0052,DOE 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCS enabled H2 production [% of produced H2],0.005,DOE 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Large-scale transmission [% of transported hyodrogen],0.0048,DOE 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
lcoh_green = pd.read_excel(path, sheet_name='LCOH_RES', decimal=',', index_col=0)
lcoh_green

,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
ID,,,,,,,,,,,,,,,,,,,,,
United_Arab_Emirates_Onshore_3_low_temp_baseline,7.083424,6.891298,6.715543,6.552560,6.399783,6.255316,6.117722,5.985886,5.858925,5.736129,...,4.691380,4.628208,4.566471,4.512363,4.403312,4.338001,4.274817,4.213586,4.154154,4.096389
United_Arab_Emirates_Offshore_1_low_temp_baseline,11.470109,11.104346,10.787404,10.505314,10.249265,10.013359,9.793456,9.586545,9.390367,9.203187,...,7.248224,7.116204,6.992261,6.880684,6.719989,6.607285,6.500267,6.398248,6.300666,6.207051
United_Arab_Emirates_Offshore_2_low_temp_baseline,15.518520,15.026419,14.603391,14.229709,13.892937,13.584745,13.299293,13.032333,12.780680,12.541890,...,9.892514,9.713566,9.545998,9.395894,9.176013,9.024151,8.880277,8.743419,8.612779,8.487690
United_Arab_Emirates_PV_2_low_temp_baseline,3.990183,3.815470,3.659375,3.516671,3.384029,3.259207,3.140629,3.027147,2.917901,2.812232,...,2.123259,2.077646,2.033698,1.995168,1.933859,1.891448,1.850562,1.811050,1.772783,1.735653
United_Arab_Emirates_PV_3_low_temp_baseline,4.167158,3.984340,3.821167,3.672128,3.533712,3.403554,3.279992,3.161815,3.048116,2.938202,...,2.218239,2.170581,2.124678,2.084494,2.020231,1.975935,1.933247,1.892006,1.852079,1.813348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
South_Africa_PV_4_low_temp_optimistic,4.776238,4.522432,4.311259,4.130247,3.971568,3.830018,3.701980,3.584849,3.476693,3.376044,...,2.316135,2.243911,2.174816,2.115768,2.014671,1.948563,1.885225,1.824345,1.765661,1.708951
South_Africa_Onshore_3_high_temp_optimistic,6.957099,6.651531,6.361605,6.082880,5.812121,5.546874,5.285203,5.025533,4.766533,4.507054,...,3.527896,3.479815,3.432700,3.392380,3.300107,3.248513,3.198556,3.150082,3.102956,3.057060
South_Africa_Offshore_1_high_temp_optimistic,6.420926,6.101068,5.807786,5.532832,5.271000,5.018783,4.773702,4.533933,4.298081,4.065056,...,3.044944,2.985666,2.930034,2.880146,2.806048,2.755060,2.706577,2.660273,2.615880,2.573177
South_Africa_Offshore_2_high_temp_optimistic,7.882887,7.502615,7.158460,6.839487,6.538808,6.251803,5.975218,5.706671,5.444358,5.186877,...,3.922605,3.847566,3.777477,3.715198,3.619913,3.556102,3.495686,3.438224,3.383351,3.330767
South_Africa_PV_4_high_temp_optimistic,8.301321,7.735446,7.214757,6.725080,6.257449,5.805842,5.366024,4.934896,4.510115,4.089858,...,2.785486,2.716458,2.650047,2.592917,2.495084,2.430448,2.368174,2.307988,2.249662,2.193002

In [189]:
lowest_green = ((lcoh_green.loc['Norway_Onshore_2_low_temp_optimistic', 2025:2050]).mul(0.89))
lowest_green = pd.DataFrame(lowest_green)
lowest_green.index.name = 'Years'
lowest_green

       Norway_Onshore_2_low_temp_optimistic
Years
2025                               2.491992
2026                               2.440769
2027                               2.392928
2028                               2.347980
2029                               2.305535
2030                               2.265274
2031                               2.205328
2032                               2.157935
2033                               2.112188
2034                               2.068154
2035                               2.026197
2036                               1.985129
2037                               1.945128
2038                               1.908208
2039                               1.871112
2040                               1.834076
2041                               1.801782
2042                               1.770822
2043                               1.740567
2044                               1.714207
2045                               1.659565
2046                               1.627420
2047                               1.596338
2048                               1.566225
2049                               1.536996
2050                               1.508580

In [190]:
lcoh_blue = pd.read_csv("/Users/jakob/PycharmProjects/H2_pathways_repo/data/processed/LCOH_NGR.csv", delimiter=';', index_col=0)
lcoh_blue

       LCOH_BLUE
Years
2025    2.589820
2026    2.373447
2027    2.155720
2028    1.821652
2029    1.831196
2030    1.839387
2031    1.856517
2032    1.872223
2033    1.886502
2034    1.899351
2035    1.910768
2036    1.920750
2037    1.929296
2038    1.936403
2039    1.942068
2040    1.946291
2041    1.940501
2042    1.933856
2043    1.926355
2044    1.917997
2045    1.908779
2046    1.898193
2047    1.886788
2048    1.874562
2049    1.861514
2050    1.839630

# Green production emissions

In [191]:
# in percent of hydrogen produced
green_prod_leakage = GHG.loc['Electrolytic H2 production [% of produced H2] w/ recombination', 'Value']
green_prod_leakage

0.0052

In [192]:
# in percent of hydrogen produced
blue_prod_leakage = GHG.loc['CCS enabled H2 production [% of produced H2]', 'Value']
blue_prod_leakage

0.005

In [193]:
GWP20_H2 = GHG.loc['H2 GWP20', 'Value']
GWP20_H2

33

In [194]:
years = np.arange(2025, 2051)
result = pd.DataFrame(index=years, columns=['Green_production_emissions'])
result.index.name = 'Years'

In [195]:
# Emissions from green hydrogen production in kg CO2eq/kg H2
green_emissions = 1 * green_prod_leakage * GWP20_H2
green_emissions

0.1716

In [196]:
for year in years:
    result.Green_production_emissions[year] = green_emissions

result

      Green_production_emissions
Years
2025                      0.1716
2026                      0.1716
2027                      0.1716
2028                      0.1716
2029                      0.1716
2030                      0.1716
2031                      0.1716
2032                      0.1716
2033                      0.1716
2034                      0.1716
2035                      0.1716
2036                      0.1716
2037                      0.1716
2038                      0.1716
2039                      0.1716
2040                      0.1716
2041                      0.1716
2042                      0.1716
2043                      0.1716
2044                      0.1716
2045                      0.1716
2046                      0.1716
2047                      0.1716
2048                      0.1716
2049                      0.1716
2050                      0.1716

In [197]:
# export result to excel
writer = pd.ExcelWriter(path, engine='openpyxl', mode='a', if_sheet_exists='overlay')
book = load_workbook(path)
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

ws = book['Reference Results']

result.to_excel(writer, sheet_name='Reference Results', index=False, startcol=ws.max_column)
book.save(path)
book.close()

In [198]:
# Create csv file from results dataframe
path_csv = r'/Users/jakob/PycharmProjects/H2_pathways_repo/data/processed'
output_file = os.path.join(path_csv, 'Green_production_emissions.csv')
result.to_csv(output_file, sep=';')

# Blue production emissions

In [216]:
blue_emissions = (GHG.loc['Blue hydrogen emissions [kg CO2/kg H2] - Norway', 2025:2050])
x = pd.DataFrame(blue_emissions)
x

     Blue hydrogen emissions [kg CO2/kg H2] - Norway
2025                                          4.7514
2026                                         4.64568
2027                                         4.53996
2028                                         4.43424
2029                                         4.32852
2030                                          4.2228
2031                                         4.11708
2032                                         4.01136
2033                                         3.90564
2034                                         3.79992
2035                                          3.6942
2036                                         3.58848
2037                                         3.48276
2038                                         3.37704
2039                                         3.27132
2040                                          3.1656
2041                                         3.05988
2042                                         2.95416
2043                                         2.84844
2044                                         2.74272
2045                                           2.637
2046                                         2.53128
2047                                         2.42556
2048                                         2.31984
2049                                         2.21412
2050                                          2.1084

In [219]:
# Emissions from blue hydrogen including h2 leakage
result = x.add(1*blue_prod_leakage*GWP20_H2)
result

     Blue hydrogen emissions [kg CO2/kg H2] - Norway
2025                                          4.9164
2026                                         4.81068
2027                                         4.70496
2028                                         4.59924
2029                                         4.49352
2030                                          4.3878
2031                                         4.28208
2032                                         4.17636
2033                                         4.07064
2034                                         3.96492
2035                                          3.8592
2036                                         3.75348
2037                                         3.64776
2038                                         3.54204
2039                                         3.43632
2040                                          3.3306
2041                                         3.22488
2042                                         3.11916
2043                                         3.01344
2044                                         2.90772
2045                                           2.802
2046                                         2.69628
2047                                         2.59056
2048                                         2.48484
2049                                         2.37912
2050                                          2.2734

In [220]:
# Create csv file from results dataframe
path_csv = r'/Users/jakob/PycharmProjects/H2_pathways_repo/data/processed'
output_file = os.path.join(path_csv, 'Blue_production_emissions_H2_leakage.csv')
result.to_csv(output_file, sep=';')

In [221]:
# export result to excel
writer = pd.ExcelWriter(path, engine='openpyxl', mode='a', if_sheet_exists='overlay')
book = load_workbook(path)
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

ws = book['Reference Results']

result.to_excel(writer, sheet_name='Reference Results', index=False, startcol=ws.max_column)
book.save(path)
book.close()

In [202]:
Green_production_emissions = pd.read_csv('/Users/jakob/PycharmProjects/H2_pathways_repo/data/processed/Green_production_emissions.csv', delimiter = ';', index_col=0)
Green_production_emissions

       Green_production_emissions
Years
2025                       0.1716
2026                       0.1716
2027                       0.1716
2028                       0.1716
2029                       0.1716
2030                       0.1716
2031                       0.1716
2032                       0.1716
2033                       0.1716
2034                       0.1716
2035                       0.1716
2036                       0.1716
2037                       0.1716
2038                       0.1716
2039                       0.1716
2040                       0.1716
2041                       0.1716
2042                       0.1716
2043                       0.1716
2044                       0.1716
2045                       0.1716
2046                       0.1716
2047                       0.1716
2048                       0.1716
2049                       0.1716
2050                       0.1716

In [203]:
years = np.arange(2025, 2051)
result = pd.DataFrame(index=years, columns=['Emissions'])
result.index.name = 'Years'
result

      Emissions
Years
2025        NaN
2026        NaN
2027        NaN
2028        NaN
2029        NaN
2030        NaN
2031        NaN
2032        NaN
2033        NaN
2034        NaN
2035        NaN
2036        NaN
2037        NaN
2038        NaN
2039        NaN
2040        NaN
2041        NaN
2042        NaN
2043        NaN
2044        NaN
2045        NaN
2046        NaN
2047        NaN
2048        NaN
2049        NaN
2050        NaN

In [204]:
min_prod_cost = pd.read_csv('/Users/jakob/PycharmProjects/H2_pathways_repo/data/processed/Minimal_production_costs_technology.csv', delimiter = ';', index_col=0)
min_prod_cost_emissions = min_prod_cost.append(result)

/var/folders/dt/vnwtjmcn02bff0r8qtp9tmkh0000gn/T/ipykernel_37620/2183245405.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  min_prod_cost_emissions = min_prod_cost.append(result)

In [205]:
min_prod_cost_emissions

       Minimal_production_costs Technology Emissions
Years
2025                   2.491992      Green       NaN
2026                   2.373447       Blue       NaN
2027                   2.155720       Blue       NaN
2028                   1.821652       Blue       NaN
2029                   1.831196       Blue       NaN
2030                   1.839387       Blue       NaN
2031                   1.856517       Blue       NaN
2032                   1.872223       Blue       NaN
2033                   1.886502       Blue       NaN
2034                   1.899351       Blue       NaN
2035                   1.910768       Blue       NaN
2036                   1.920750       Blue       NaN
2037                   1.929296       Blue       NaN
2038                   1.908208      Green       NaN
2039                   1.871112      Green       NaN
2040                   1.834076      Green       NaN
2041                   1.801782      Green       NaN
2042                   1.770822      Green       NaN
2043                   1.740567      Green       NaN
2044                   1.714207      Green       NaN
2045                   1.659565      Green       NaN
2046                   1.627420      Green       NaN
2047                   1.596338      Green       NaN
2048                   1.566225      Green       NaN
2049                   1.536996      Green       NaN
2050                   1.508580      Green       NaN
2025                        NaN        NaN       NaN
2026                        NaN        NaN       NaN
2027                        NaN        NaN       NaN
2028                        NaN        NaN       NaN
2029                        NaN        NaN       NaN
2030                        NaN        NaN       NaN
2031                        NaN        NaN       NaN
2032                        NaN        NaN       NaN
2033                        NaN        NaN       NaN
2034                        NaN        NaN       NaN
2035                        NaN        NaN       NaN
2036                        NaN        NaN       NaN
2037                        NaN        NaN       NaN
2038                        NaN        NaN       NaN
2039                        NaN        NaN       NaN
2040                        NaN        NaN       NaN
2041                        NaN        NaN       NaN
2042                        NaN        NaN       NaN
2043                        NaN        NaN       NaN
2044                        NaN        NaN       NaN
2045                        NaN        NaN       NaN
2046                        NaN        NaN       NaN
2047                        NaN        NaN       NaN
2048                        NaN        NaN       NaN
2049                        NaN        NaN       NaN
2050                        NaN        NaN       NaN

In [206]:
def append_emissions():
    min_prod_cost_emissions.Technology == 'Green'
    result = Green_production_emissions

    return result

In [207]:
def append_emissions():
    if min_prod_cost_emissions.Technology == 'Green':
        result = Green_production_emissions
    else:
        result = blue_emissions_H2GWP
    return result

In [208]:
years = np.arange(2025, 2051)
for year in years:

    min_prod_cost_emissions.Emissions.loc[year] = append_emissions()

min_prod_cost_emissions

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().